
body {

  font-family: 'roboto', sans-serif;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
}


.container{
    width: 1200px;
    margin: auto;
  
  }

  .section {
    padding-top: 94px ;
    padding-bottom: 94px;
  }
